*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
}

.content-section {
    padding: 45px 0;
}

.content-section--large {
    padding: 120px 0;
}

.intro:not(:last-child) {
    position: absolute;
    left: 0;
    right: 0;
}

#intro--beach {
    background: radial-gradient(#add8e6 40%, #6fb0c5 99%);
}

#intro--field {
    background: radial-gradient(#ade6d1 40%, #6fc5b5 99%);
}

#intro--snow {
    background: radial-gradient(white 40%, black 99%);
}

.fas {
    font-size: 45px;
    display: block;
}

#intro .fas {
    padding-top: 50px;
}

#controls {
    background-color: #fbfbfb;
    color: darkgray;
    height: 500px;
}

header {
    font-size: 62px;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 45px;
}

.level-screenshot {
    height: 450px;
    width: 450px;
}

footer {
    backface-visibility: hidden;
    background-color: #FA5C5C;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

#game-link {
    background-color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px 18px;
    text-decoration: none;
}

#game-link:link, #game-link:visited {
    color: #FA5C5C;
}

@media screen and (max-width: 520px) {
    .level-screenshot {
        height: 250px;
        width: 250px;
    }
}