*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: radial-gradient(#add8e6 40%, #6fb0c5 99%);
    color: whitesmoke;
    font-family: sans-serif;
    margin: 0;
    position: relative;
    text-align: center;
}

.content-section {
    padding: 45px 0;
}

.content-section--large {
    padding: 120px 0;
}

#controls {
    background-color: lightgray;
    height: 500px;
}

header {
    font-size: 62px;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 45px;
}

.level {
    height: 450px;
    width: 450px;
}

footer {
    background-color: #FA5C5C;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    position: fixed;
    width: 100%;
}

#game-link {
    border: 3px solid whitesmoke;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    padding: 10px 18px;
    text-decoration: none;
}

#game-link:link, #game-link:visited {
    color: whitesmoke;
}

#game-link:hover {
    border-color: lightgray;
    color: lightgray;
}